.menu-item-has-children .sub-menu {
    transition: 500ms;
}
.menu-image-title-after {
    padding-left: 10px;
}

.offcanvas-drawer {
    transition: none !important;
}
.movie__description span {
    color: #FFF !important;
}

.layout-enter-active, .layout-leave-active {
    transition: opacity .3s;
  }
  .layout-enter-from, .layout-leave-to {
    opacity: 0;
  }

  .page-enter-active, .page-leave-active {
    transition: opacity .3s;
  }
  .page-enter-from, .page-leave-to {
    opacity: 0;
  }

body {
    background-color: rgb(19, 23, 34);
}

.lazyload {
    display: block;
    min-height: 1px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lazyloaded {
    opacity: 1;
}

.dashicons {
  font-size: 20px;
}

.dashicons::before {
  display: inline-block;
  vertical-align: bottom;
  line-height: 20px;
}

.dashicons-laptop:before {
  font-family: dashicons;
  content: "\f547";
}

.dashicons-admin-site-alt3:before {
  font-family: dashicons;
  content: "\f11f"
}

.dropdown-menu {
  right: 0 !important;
}

.search.movie__title:hover{
  color: #0f9ed1
}

.loading-bg {
  background-color: #202124;
}

.pointer {
  cursor: pointer;
}

.episodes__inner {
  width: 100%;
  margin-right: 0
}

.episode__description.modified > div {
  height: auto;
  transition: max-height 600ms ease-in-out;
  overflow: hidden;
  max-height: 50px;
}

.tv-show__short-description.modified>div {
  height: auto;
  transition: max-height 600ms ease-in-out;
  overflow: hidden;
  max-height: 47px;

}

.tv-show__short-description.modified>div.expanded {
  max-height: 200px;
}

.embla__slide__inner1 img{
  height: 100%;
}

.movie__description>div {
  height: auto;
  transition: max-height 600ms ease-in-out;
  overflow: hidden;
  max-height: 50px;
}

.single-movie-v2 .single-movie__player-container--inner .single-movie__sidebar--head-info .movie__body.desktop {
  flex: 0 0 100%;
  max-width: 100%;
}

#content.page-episode .episode.active * {
  color: #FFF;
}