.tv-show__short-description.modified>div {
    height: auto;
    transition: max-height 600ms ease-in-out;
    overflow: hidden;
    max-height: 47px;

}

.tv-show__short-description.modified>div.expanded {
    max-height: 200px;
}