.watch-container {
    width: 100%;
}

.watch-container .video-container {
    margin: 0 auto 20px;
}

.watch-container .backlink-btn {
    display: flex;
    justify-content: space-between;
}

.watch-container center{
    margin: 5px 0;
}

.watch-container .btn-back {
    background: none;
    padding: 0;
    font-size: 18px;
    color: #fff;
}

.watch-container .flex-btn-hq {
    width: 100%;
    text-align: center;
}

.watch-container .flex-btn-hq .btn-play {
    margin: 0 20px;
    border-radius: 20px;
}

.watch-container .flex-btn-hq .btn-play {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
    width: 125px;
    min-width: 140px;
    text-align: center;
    margin-right: 10px;
    padding: 15px;
    border-radius: 40px;
}

.watch-container .btn-play i {
    color: #000;
}

.watch-container #video_content {
    display: flex;
    justify-content: center;
}

.ads-box-s {
    width: 100%;
    background-color: #1c222e;
}

.ads-box-s > * {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.ads-box-s .ads-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.ads-box-s>*>.home-section {
    margin: 0;
    padding: 0
}

.ads-box-s .single-tv-show-ads, .ads-box-s .ads-box-child {
    float: none;
    width: auto !important;
    height: auto !important;
    margin: 0;
}

.watch-container .btn-play.active {
    background-color: #B6BBCA;
}

@media(min-width: 1200px){
    
    .video-container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .video-container {
      width: 970px;
    }
}


@media(max-width: 768px) {

    .watch-container .backlink-btn {
        padding: 0 20px;
    }

    .watch-container .flex-btn-hq .btn-play {
        margin: 0 2px;
        border-radius: 20px;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 0.5rem;
        width: 70px;
        padding: 5px 10px;
    }

    #playVideoUl iframe{
        height: 260px;
    }
    
    .ads-box-s .ads-middle {
        flex-direction: column;
    }

    .ads-box-s .ads-middle .ads-left, .ads-box-s .ads-middle .ads-right {
        width: 100%;
        padding: 0 12%;
    }
}
