.watch-container {
    width: 100%;
}

.watch-container .video-container {
    margin: 0 auto 20px;
}

.watch-container .backlink-btn {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.watch-container center{
    margin: 5px 0;
}

.watch-container .btn-back {
    background: none;
    padding: 0;
    font-size: 18px;
    color: #fff;
}

.watch-container .flex-btn-hq {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.watch-container .flex-btn-hq .btn-play {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
    min-width: 125px;
    text-align: center;
    padding: 15px;
    border-radius: 40px;
}

.watch-container .btn-play i {
    color: #000;
}

.watch-container #video_content {
    display: flex;
    justify-content: center;
}

.ads-box-s {
    padding: 10px 4%;
    width: 100%;
    background-color: #1c222e;
}

.ads-box-s > * {
    margin-bottom: 10px;
}

.ads-box-s .ads-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.ads-box-s>*>.home-section {
    margin: 0;
    padding: 0;
    width: 100%
}

.ads-box-s .single-tv-show-ads, .ads-box-s .ads-box-child {
    float: none;
    height: 280px;
    width: 336px;
    margin: 0;
}

.ads-box-s .ads-left:has(.kskdDiv.kskdCls[data-kiosked-state="destroyed"]) > .ads-box-child {
    height: 0 !important;
    min-height: 0 !important;
}

.ads-box-s .ads-right:has(.kskdDiv.kskdCls[data-kiosked-state="destroyed"]) > .single-tv-show-ads {
    height: 0 !important;
    min-height: 0 !important;
}

.watch-container .btn-play.active {
    background-color: #B6BBCA;
}

.modal {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    top: 100%;
    position: fixed;
    left: 0;
}

#__nuxt>div.modal-open .modal {
    top: 0;
}

@media (min-width: 768px) {
    .video-container {
        width: 765px;
    }
}

@media (min-width: 992px) {
    .video-container {
      width: 940px;
    }
}

@media(min-width: 1200px){
    .video-container {
        width: 1140px;
    }
}

@media(max-width: 1000px){
    .watch-container .flex-btn-hq {
        gap: 10px;
    }

    .watch-container .flex-btn-hq .btn-play {
        min-width: 80px;
        padding: 5px 10px;
    }

    .watch-container .btn-back {
        font-size: 12px;
    }
}


@media(max-width: 768px) {

    #playVideoUl iframe{
        height: 260px;
    }
    
    .ads-box-s .ads-middle {
        flex-direction: column;
    }

    .ads-box-s .ads-middle .ads-left, .ads-box-s .ads-middle .ads-right {
        padding: 0;
    }

    .watch-container .btn-back {
        background: none;
        padding: 0;
    }    
}
